@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* --------color selector---------- */
:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --Text-color: #ededed;
  --main-color: #00abf0;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
body{
  background: #081b29;
}
.container {
  max-width: 400px;
  margin: 9rem auto;
  padding: 20px;
  background-color:var(--second-bg-color);
}

h1 {
  text-align: center;
  color: var(--Text-color);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  color: var(--Text-color);
}

input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 10px;
  padding: 5px;
  border: 3px solid #ccc;
  border-color: var(--main-color);
  border-radius: 4px;
}

input[type="submit"] {
  background-color: var(--main-color);
  margin-top: 7px;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 1s;
}

input[type="submit"]:hover {
  background-color:#02739f;
  transition: 1s;
}
